<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
    <switches>
      <add name="doLogging" value="0"/>
    </switches>
  </system.diagnostics>

  <appSettings>
    <!-- ZeroMQ High-water mark; number of messages to keep queued up before dropping: -->
    <add key="HWM" value="20"/>
    <!-- Size of message chunks to divide up files into for broadcast: -->
    <add key="ChunkSize" value="131072"/>
  </appSettings>
</configuration>